<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <meta name="google-signin-client_id" content="915233699233-fs3mq3sgcc4kuh0ruofoleqmq72at278.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <form id="form1" action="/login" method="post">
    <input type="hidden" name="loggedin" id="loggedin" />
    <input type="hidden" name="googleID" id="googleID" /> Username:
    <input type="text" name="username">
    <br/> Password:
    <input type="password" name="password">
    <input type="submit" value="Login">
  </form>
  <br />
  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <br />
  <span style="color:red">{{.message}}</span>
  <br />
  <a href="/register">Register</a>
  <br />
  <a href="/forgot">Forgot my password</a>
  <br />
  <a href="/">Home</a>

</body>
<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    document.getElementsByTagName('form')[0].setAttribute('action','/googlelogin');
    document.getElementById('googleID').value = profile.getId();
    document.getElementById('loggedin').value = true;
    document.getElementsByTagName('form')[0].submit();
  }
</script>

</html>
