<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
</head>

<body>
  <form action="/profile" method="post">
    Username:<input type="text" name="username" value={{.username}} /> | Password:<input type="password" name="password" value={{.password}}/><br /> Type Password Again:<input type="password" name="passwordagain" value={{.password}}/><br /> Email:
    <input type="text" name="emailadd" value={{.email}} /> | Full Name:<input type="text" name="fullname" value={{.fullname}} />
    <br /><br /> Address:<input type="text" name="address" id="address" value={{.address}} /><input id="submit" type="button" value="Locate on Map">
    <br />
    <div id="map" style="height:400px;"></div>
    <br /><br /> Telephone:
    <input type="hidden" name="lon" id="lon" value={{.longitude}} />
    <input type="hidden" name="lat" id="lat" value={{.latitude}} />
    <input type="text" name="telephone" /><br />
    <input type="submit" value="Update">
  </form>
  <br />
  <span style="color:red">{{.message}}</span>
  <br />
  <a href="/">Home</a>
</body>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: {
        lat: -34.397,
        lng: 150.644
      }
    });
    var geocoder = new google.maps.Geocoder();

    document.getElementById('submit').addEventListener('click', function() {
      geocodeAddress(geocoder, map);
    });
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({
      'address': address
    }, function(results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
        document.getElementById('lon').value = results[0].geometry.location.lng();
        document.getElementById('lat').value = results[0].geometry.location.lat();
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function geocodeLatLng(geocoder, map, infowindow) {
    var input = document.getElementById('latlng').value;
    var latlngStr = input.split(',', 2);
    var latlng = {
      lat: parseFloat(latlngStr[0]),
      lng: parseFloat(latlngStr[1])
    };
    geocoder.geocode({
      'location': latlng
    }, function(results, status) {
      if (status === 'OK') {
        if (results[1]) {
          map.setZoom(11);
          var marker = new google.maps.Marker({
            position: latlng,
            map: map
          });
          infowindow.setContent(results[1].formatted_address);
          infowindow.open(map, marker);
        } else {
          window.alert('No results found');
        }
      } else {
        window.alert('Geocoder failed due to: ' + status);
      }
    });
  }

  var geocoder = new google.maps.Geocoder;
  var infowindow = new google.maps.InfoWindow;

  geocodeLatLng(geocoder, map, infowindow);
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDifUbFSh0w8HmSW8i5Jp6-P_WzqJA9aJs&callback=initMap">
</script>
</html>
