<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
</head>

<body>
  <form action="/register" method="post">
    Username:<input type="text" name="username" /> | Password:<input type="password" name="password" /><br /> Type Password Again:<input type="password" name="passwordagain" /><br /> Email:
    <input type="text" name="emailadd" /> | Full Name:<input type="text" name="fullname" />
    <br /><br /> Address:
    <br />
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDGPM1MWT-rpCJupZ3Uy9F65ZlwTjc3oBg&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
    <br /><br />
    <input type="text" name="address" /> | Telephone:<input type="text" name="telephone" /><br />
    <input type="submit" value="Register">
  </form>
  <br />
  <span style="color:red">{{.message}}</span>
  <br />
  <a href="/">Home</a>
</body>
<script type="text/javascript">
  var map;

  function initialize() {
    var myLatlng = new google.maps.LatLng(<?=$decimalValueLon?>, <?=$decimalValueLat?>);
    var myOptions = {
      zoom: 17,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    };


    map = new google.maps.Map(document.getElementById('map_canvas'),
      myOptions);

    // marker STARTS
    var marker = new google.maps.Marker({
      position: myLatlng,
      title: "Click to view info!"
    });
    marker.setMap(map);
    // marker ENDS

    // info-window STARTS
    var infowindow = new google.maps.InfoWindow({
      content: "<div class='map_bg_logo'><span style='color:#1270a2;'><b><?=$row->bridge_name?></b> (<?=$row->bridge_no?>)</span><div style='border-top:1px dotted #ccc; height:1px;  margin:5px 0;'></div><span style='color:#555;font-size:11px;'><b>Length: </b><?=$row->bridge_length?> meters</span></div>"
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    });
    // info-window ENDS
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

</html>
